{%load static%}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dz shop</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="navbar">
       
         <h2 id="logo">Dz Shop</h2>
       
       <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Contact</a> 
       </div>

       <div class="nav-icons">
         <a> <img src="{%static '/user.png'%}" alt="acount"></a>
         <a> <img src="{%static '/Shop.png'%}" alt=""></a>
       </div>
    </nav>
    <header></header>
    <main>
        
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="contact-parte">
             <h1>Contact us</h1>
             <p>If you have any questions about our products, your order, shipping, or returns, feel free to contact us. Our team is always ready to assist you and provide the support you need. You can reach us by email or phone, and we will respond as quickly as possible. Your satisfaction is our priority.</p>
        </div>
        <div></div>
    </footer>
</body>

    
</html>