{%load static%}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dz shop</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <nav class="border-b border-gray-300 bg-gradient-to-r from-blue-950 to-pink-500">
        <div class="max-w-6xl mx-auto py-6 px-6 xl:px-0 flex items-center justify-between">
            <div class="menu-left flex items-center space-x-7">
                <a href="#" class="py-4 text-lg text-violet-400 font-semibold">Dz Shop</a>
                <ul class="flex items-center space-x-2">
                    <li><a href="#" class="hover:bg-blue-500 rounded-[30px] text-white px-3 py-3 transition duration-300">Shop</a></li>
                    <li><a href="#" class="hover:bg-blue-500 rounded-[30px] text-white px-3 py-2 transition duration-300">About</a></li>
                   
                </ul>
            </div>
               <div class="menu-right flex items-center gap-4">
                  <a href=""><img src="{%static '/user.png'%}" alt="user" style="width: 30px;"></a>
                  <a href=""><img src="{%static '/Shop.png'%}" alt="shop" style="width: 30px;"></a>
               </div>
        </div>
    </nav>

    <main>
        <header class="px-6 py-10  ">
            <div class="max-w-3xl mx-auto text-center">
                <h1 class=" mb-2 text-4xl font-bold bg-gradient-to-r from-blue-900 via-purple-900 to-pink-900 bg-clip-text text-transparent " >WELCOM TO DZ SHOP</h1>
                <p class="mb-7 bg-gradient-to-r from-blue-900 via-purple-900 to-pink-900 bg-clip-text text-transparent">We sell furnitues for the modern live</p>
                <a href="" class="inline-block px-8 py-4 rounded-xl  text-white bg-gradient-to-r from-blue-700  to-pink-700  hover:brightness-110">Go Shop</a>
            </div>
        </header>

        {% block content %}
        {% endblock %}

    </main>

    <footer class="bg-gradient-to-r from-blue-950 to-pink-500 h-40">
        <div class="max-w-6xl mx-auto py-7 px-6 xl:px-0 md:flex justify-between">
            <div class="footer-left  mb-12 md:mb-0">
                <h2 class="mb-1 uppercase text-lg" style="color: rgb(255, 208, 147);">About Us</h2>
                <p style="color: rgb(255, 255, 255); width: 800px;" class="mb-3">DZ Shop is a modern online store based in Algeria, offering a wide selection of products including electronics, fashion, home goods, and accessories. With a user-friendly interface, secure payments, and fast nationwide delivery, shopping has never been easier. We focus on quality, affordability, and customer satisfaction.</p>
            </div>

            <div class="footer-right">
                <h2 class="mb-3 ml-7 uppercase text-lg" style="color: rgb(255, 208, 147);" >Contact Us</h2>
                <div class="flex items-center gap-3 px-2 ">
                    <a href=""><img src="{%static '/Facebook.png'%}" alt="" style="width: 40px;"></a>
                    <a href=""><img src="{%static '/instagram.png'%}" alt="" style="width: 40px;"></a>
                    <a href=""><img src="{%static '/Whatsapp.png'%}" alt="" style="width: 40px;"></a>
                </div>
                </ul>
            </div>
        </div>

    </footer>
</body>
</html>