.navbar{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
    position: fixed;
    margin: auto;
    margin: 0 ;
    
}
#logo{
    text-shadow: #1f2937 (5px, 6px , 6px);
}


.navbar #logo{
    color: #f59e0b;
    font-size: 24px;
    font-style: italic;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 60px;
   
}

.nav-links a{
    color : white;
    text-decoration: none;
}

.nav-links a:hover{
    color: #f59e0b;
    transition: 0.5s;
}


.nav-icons img{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    border-radius: 100%;
}

.nav-icons{
    display: flex;
    gap: 15px;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    
}