.navbar{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.navbar h2{
    color: #f59e0b;
    font-size: 24px;
    font-style: italic;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    gap: 60px;
   
}

.nav-links a{
    color : white;
    text-decoration: none;
}


.nav-icons img{
    width: 40px;
    height: 40px;
    background-color: aliceblue;
    border-radius: 100%;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    
}