.navbar{
    background-color: #333;
    
    
    display: flex;
    justify-content: center;
    gap: 50px;
}

.nav-link{
   
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    
}