.navbar{
    background-color: #333;
    
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1000px;
}

.nav-link{
   
}

body{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    
}